.color {
  color: #007ac2 !important;
  font-weight: bold;
  font-family: "Roboto", "Noto Kufi Arabic";
}
.example-button {
  margin-top: 16px;
}
mat-toolbar {
  margin: auto;
  background-color: #f5f7fa;
}
button {
  margin: 10px;
  padding: 10px;
}
